<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitonic@Admin | All Students</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/animation.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>

</style>

<body>
    <!--? NAV BAR  -->
    {{>adminNav}}


    <div class="container d-flex-computer flex-wrap justify-content-center contain ">
<div class="box w-20 ani2">Total Students
            <hr /><b style="text-transform: uppercase;">{{total.total}}</b>
        </div>
   
        
        <div class="box w-20 ani2">Download Student Data
            <hr /><b style="text-transform: uppercase;"><a href="students/downloadData"><button class="btn-primary btn w-50">Download</button></a></b>
        </div>

        <div class="box w-20 ani2">Add Student 
            <hr /><b style="text-transform: uppercase;"><a href="addStudent"><button class="btn-primary btn w-50">Add</button></a></b>
        </div>
    </div>
    <div class="container box " style="height: 50vh; overflow: scroll;">
        <table class="table ani">
            {{!-- {{#if err}} --}}
            
             {{!-- {{/if}} --}}

            <thead>
                <tr>
                    <th class="ani1" scope="col">ID</th>
                    <th class="ani1" scope="col">Img</th>
                    <th class="ani2" scope="col">Handle</th>
                    <th class="ani2" scope="col">Name</th>
                    <th class="ani3" scope="col">Class</th>
                    <th class="ani3" scope="col">Div</th>

                    <th class="ani3" scope="col">RollNO</th>

                    <th class="ani3" scope="col">View</th>
                    <th class="ani4" scope="col">Delete</th>

                </tr>
            </thead>
            <tbody class="cen">

                {{#each result8}}
                <tr class="ani2">
                    <th scope="row"><code class="code">{{this.studentID}}</code></th>
                    <td><img src="{{this.img}}" width="40" height="40"
                            alt="DP"></td>
                    <td>{{this.username}}</td>
                    <td>{{this.studentName}}</td>
                    <td style="font-variant-caps: all-petite-caps;">{{this.std}}</td>
                    <td style="font-variant-caps: all-petite-caps;">{{this.section}}</td>

                    <td style="font-variant-caps: all-petite-caps;">{{this.rollno}}</td>

                    <td><a href="viewStudent?studentID={{this.studentID}}"><button class="btn btn-primary" style="width: 70px;">View</button></a></td>

                    <td><a href="deletestudent?studentID={{this.studentID}}"><button class="btn btn-danger" style="width: 70px;">Delete</button></a></td>

                </tr>

            {{/each}}

            </tbody>
           <p style="color: red !important; font-weight: bolder;"> {{err}} </p>

        </table>

    </div>

    {{>footer}}
    <script>

        function oo() { document.getElementById("loading").style.display = "none"; }
    </script>

    <script>

        function oo() {
            document.getElementById("loading").style.display = "none";
        }
    </script>

</body>

</html>