<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bitonic@Teacher | Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/animation.css">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<style>
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .container1 {
            width: 50%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        #dropZone {
            border: 2px dashed #ccc;
            padding: 20px;
            border-radius: 8px;
            cursor: pointer;
        }

        #fileInput {
            display: none;
        }

        label {
            width: 150px;
            {{!-- background-color: #4caf50; --}}
            color: black;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
            
        }

        label:hover {
        }

        #fileName {
            margin-top: 10px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            margin-top: 10px;
        }

        .btn:hover {
            background-color: #45a049 !important;
        }

            .info-container {
            width: 50%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
        }
    </style>

<body>
{{>teacherNav}}
    <header>
        <h1>Attendance Details</h1>
    </header>

    <form  action="getStudents" method="post" class="container1 m-w-100">
        <div id="dropZone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            <p class="text-danger" style="font-weight: bold;">Set your Appropriate Option </p>
         

            <label for="">Select Div :  </label>

 <select class="btn btn-primary" name="section" id="" required >


                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>


            </select>

            <br>
<input type="hidden" name="standard" value="{{teacherData.standard}}">
<input type="hidden" name="subject" value="{{teacherData.teacherOf}}">
<input type="hidden" name="teacher" value="{{teacherData.teacherName}}">


          
<center style="margin: auto; justify-content: center; width: 100%;">
    <br>
    <code style="display: flex; margin: 5px; justify-content: center;"> <div style="color: black;"> Your Name   </div> <div> :    {{teacherData.teacherName}}</div></code>
    <code style="display: flex; margin: 5px; justify-content: center;"> <div style="color: black;"> Your Standard   </div> <div> : {{teacherData.standard}}</div></code>
    <code style="display: flex; margin: 5px; justify-content: center;"> <div style="color: black;"> Your Subject    </div> <div> : {{teacherData.teacherOf}}</div></code>
    <code style="display: flex; margin: 5px; justify-content: center;"> <div style="color: black;"> Your teacher ID </div> <div> : {{teacherData.teacherID}}</div></code>
    <code style="display: flex; margin: 5px; justify-content: center;"> <div style="color: black;"> Your Bitonic ID </div> <div> : {{teacherData.bitonicID}}</div></code>

 </center>
</div>

<br>

        <button class="btn btn-primary" type="submit">Get Students</button>
    </form>

<div class="container">
<center></center>
    <ul>
       <code> <li class="code"> ✅ Only for Teachers </li></code>
       <code> <li class="code"> ✅ Tetachers Can Share only Pdf and Docx</li></code>
       <code> <li class="code"> ✅ Files Should Not be More Than 50.00Mb </li></code>
       <code> <li class="code"> ✅ <a href="attendanceHistory" style="text-decoration-line: underline !important; "> View All Your Uploads </a></li></code>

    </ul>
</div>

{{>noFooter}}
</body>
</html>
