<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitonic@Admin | All Teachers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/animation.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
table * {
    justify-content: center;
    vertical-align: middle;
}
</style>

<body>
    <!--? NAV BAR  -->
    {{>teacherNav}}

        <form action="attendance"  method="post" >
<input type="hidden" name="len" value="{{result15.length}}">
<input type="hidden" name="sub" value="{{sub}}">
<input type="hidden" name="section" value="{{section}}">




    <div class="container d-flex-computer flex-wrap justify-content-center contain ">

        <div class="box w-20 ani2 text-primary">Total Students
            <hr /><b style="text-transform: uppercase;">{{result15.length}}</b>
        </div>
        <div class="box w-20 ani2 text-dark  ">Teacher
            <hr />
            <b style="text-transform: uppercase;">{{teacher}}</b>
        </div>

        <div class="box w-20 ani2 ">Subject
            <hr /><b style="text-transform: uppercase;">{{sub}}</b>
        </div>
        <div class="box w-20 ani2 text-dark">Date
            <hr /><b style="text-transform: uppercase;"><input class="btn " type="date" name="dat" id="dat"></b>
        </div>
    </div>
    <div class="container box " style="height: 50vh; overflow: scroll;">
        <table class="table ani">
            {{!-- {{#if err}} --}}
            
             {{!-- {{/if}} --}}

            <thead>
                <tr>
                    <th class="ani1" scope="col">Roll NO</th>
                    <th class="ani1" scope="col">Img</th>
                    <th class="ani2" scope="col">Name</th>
                    <th class="ani2" scope="col">Attend Lvl</th>

                    <th class="ani2" scope="col">✅</th>
                  

                </tr>
            </thead>
            <tbody>
{{#each result15}}
                <tr class="ani2">
                  <td>{{this.rollno}}</td>
                                 <td><img src="{{this.img}}" width="50px" alt="profile"></td>
    <input type="hidden" name="{{this.rollno}}id" value="{{this.studentID}}" >
                  <td>{{this.studentName}}</td>
                  <td class="text-danger">Low</td>
                  <td><input type="checkbox" name="{{this.rollno}}" id=""></td>

                </tr>
{{/each}}  
            </tbody>


           <p style="color: red !important; font-weight: bolder;"> {{err}} </p>

        </table>
<code>@--------------END--------------@</code>

    </div>
    <center>
        <button class="btn  btn-primary w-25" type="submit" style="justify-content: center; align-items: center !important; text-align: center !important;">Finalize</button>
        </center>
</form>


    {{>footer}}
    <script>

        function oo() { document.getElementById("loading").style.display = "none"; }
    </script>

    <script>

        function oo() {
            document.getElementById("loading").style.display = "none";
        }


        document.getElementById('dat').valueAsDate = new Date();
    </script>

</body>

</html>